@media (min-width: 1024px) and (max-width: 1439px) {
  .navbar-nav .nav-item{
    padding: 22px 10px;
    margin-right: 4px;
  }
  .order-phone-content{
    width: 160px;
  }
  .block-1 h1{
    font-size: 38px;
  }
  .block-4 .block-image-svg{
    width: 420px;
  }
  .block-column-1{
    img{
      width: 100%;
    }
  }
  .block-column-2{
    img{
      width: 100%;
    }
  }
  .btn{
    padding: 20px 24px;
  }
}
@media (min-width: 768px) and (max-width: 1023px){

}
@media (min-width: 425px) and (max-width: 767px){
  
}
@media (min-width: 375px) and (max-width: 424px){
  
}
@media (min-width: 320px) and (max-width: 374px){

}
@media (max-width: 320px) {
  
}