.text-center{
  text-align: center;
}
.text-purple{
  color: $purple;
}

.m-{
  &t{
    &-125{
      margin-top: 125px;
    }
  }
  &b{
    &-4{
      margin-bottom: 4px;
    }
    &-10{
      margin-bottom: 10px;
    }
    &-15{
      margin-bottom: 10px;
    }
    &-16{
      margin-bottom: 10px;
    }
    &-20{
      margin-bottom: 20px;
    }
    &-24{
      margin-bottom: 24px;
    }
    &-25{
      margin-bottom: 25px;
    }
    &-29{
      margin-bottom: 29px;
    }
    &-30{
      margin-bottom: 30px;
    }
    &-34{
      margin-bottom: 34px;
    }
    &-39{
      margin-bottom: 39px;
    }
    &-40{
      margin-bottom: 40px;
    }
    &-46{
      margin-bottom: 46px;
    }
    &-48{
      margin-bottom: 48px;
    }
    &-51{
      margin-bottom: 51px;
    }
    &-54{
      margin-bottom: 54px;
    }
  }
}