$white: #FFF !default;
$gray-1: #F7FAFF !default;
$gray-2: #F2F5FA !default;
$gray-3: #C4C4C4 !default;
$gray-4: rgba(34, 26, 51, 0.98) !default;
$yellow: #DCB05A !default;
$red: #FF6868 !default;
$blue: #2DCBD0 !default;
$blue-1: #9BB8FF !default;
$purple: #6531A2 !default;
$black: #221A33 !default;
$BlueRadial: radial-gradient(45.98% 193.12% at 79.46% -78.75%, #9EE3ED 0%, #2DCBD0 100%) !default;
$PurpleLinear: linear-gradient(180deg, #A160ED 0%, #6531A2 100%) !default;




$font-family: 'MontserratRegular' !default;
$font-size: 16px;
$font-weight: 500;
$font-weight-bolder: 900;
$line-height: 14px !default;

$MaxWidth: 412px;
$width: 336px;
$MaxHeight: 700px;